<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/css/bootstrap.css"/>

        <title>Main</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body class="text-center">

    <h1 class="text-reset">NutrAspect</h1>
    <div class="index btn-group-vertical" role="group">

    <a href="../home" class="btn btn-lg btn-primary mb-3">Home!</a>
    <a href="../login" class="btn btn-lg btn-secondary mb-3">Login!</a>
    <a href="../logout" class="btn btn-lg btn-secondary mb-3">Logout :O</a>
    <a href="../weight" class="btn btn-lg btn-secondary mb-3">Protected ._.</a>
    <a href="../register" class="btn btn-lg btn-secondary mb-3">Register!</a>
    <a href="../water" class="btn btn-lg btn-secondary mb-3">Water</a>
        <a href="../foodSelector" class="btn btn-lg btn-secondary mb-3">Food</a>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>
    </div>
    </body>

</html>