{% extends 'base.html' %}

{% block title %}Profile - Nutraspect{% endblock %}

{% block main %}

    <main class="container my-auto py-4 under-nav">
        <h2>Your personal info</h2>
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5 bg-light bg-gradient text-center me-md-4 my-4 mx-sm-0">
                <form method="post">
                    <h4 class="h4 mt-4">Update your personal info</h4>
                    <label for="name" style="display: inline-block" class="mx-3 my-2 mt-4">Name: </label><br>
                    <input id="name" name="name" placeholder="{{ uName }}" class="form-control mx-3 my-1" style="display: inline-block;max-width: 70%"><br>
                    <label for="surname" style="display: inline-block" class="mx-3 my-2">Surname: </label><br>
                    <input id="surname" name="surname" placeholder="{{ uSurname }}" class="form-control mx-3 my-1" style="display: inline-block;max-width: 70%"><br>
                    <label for="email" style="display: inline-block" class="mx-3 my-2">Email: </label><br>
                    <input id="email" name="email" placeholder="{{ uEmail }}" class="form-control mx-3 my-1" style="display: inline-block;max-width: 70%"><br>
                    <label for="email" style="display: inline-block" class="mx-3 my-2">Birthday date: </label><br>
                    <input type="date" id="date" name="date" value="{{ date }}" class="form-control mx-3 my-1 mb-4" style="display: inline-block;width: 70%" ><br>
                    <button class="btn btn-primary mb-4" id="btn" name="btn" type="submit">Submit</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5 bg-light bg-gradient text-center me-md-4 my-4 mx-sm-0">
                <h4 class="h4 mt-4">Update your password</h4>
                <form method="post">
                    <label for="oldPsw" style="display: inline-block" class="mx-3 my-2 mt-4">Old password: </label><br>
                    <input type="password" id="oldPsw" name="oldPsw" placeholder="Your Old Password" class="form-control mx-3 my-1 mb-4" style="display: inline-block;width: 70%"><br>
                    <label for="newPsw1" style="display: inline-block" class="mx-3 my-2">New password: </label><br>
                    <input type="password" id="newPsw1" name="newPsw1" placeholder="Choose a Password" class="form-control mx-3 my-1 mb-4" style="display: inline-block;width: 70%"><br>
                    <label for="newPsw2" style="display: inline-block" class="mx-3 my-2">Repeat new password: </label><br>
                    <input type="password" id="newPsw2" name="newPsw2" placeholder="Repeat New Password" class="form-control mx-3 my-1 mb-4" style="display: inline-block;width: 70%"><br>
                    <button class="btn btn-primary mb-4">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5 bg-light bg-gradient text-center me-md-4 my-4 mx-sm-0">
                <h4 class="h4 mt-4">Update your objectives: </h4>
                <form method="post">
                    <label for="oldPsw" style="display: inline-block" class="mx-3 my-2 mt-4">Goal Weight </label><br>
                    <input placeholder="{{ uObjW }}" type="text" id="weight" name="objW" placeholder="Your weight goal" class="form-control mx-3 my-1 mb-4" style="display: inline-block;width: 50%"><br>
                    <div class="form-floating py-md-4 my-3">
                        <div class="form-check form-check-inline">
                          <input  class="form-check-input" type="radio" id="inlineRadioWL" value="wLoss" name="wRadio">
                          <label class="form-check-label" for="inlineRadioWL">Weight Loss</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="inlineRadioWG" value="wGain" name="wRadio">
                          <label class="form-check-label" for="inlineRadioWG">Weight Gain</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="inlineRadioWM" value="wMant" name="wRadio">
                          <label class="form-check-label" for="inlineRadioWM">Weight Mantainance</label>
                        </div>
                    </div>
                    <div class="py-4 my-3">
                        <label for="customRange3" class="form-label">Weekly Training: <span id="demo"></span></label><br>
                        <input type="range" class="form-range my-2" min="0" max="7" step="1" id="customRange3" name="wSport" style="width: 60%"><br>
                        <button class="btn btn-primary mb-4">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5 bg-light bg-gradient text-center me-md-4 my-4 mx-sm-0">
                <h4 class="h4 mt-4">Delete your account: </h4>
                <p class="my-2">Your account would be eliminated permanently: there is no going back </p>
                <a class="btn btn-danger my-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Delete
                </a>
                <div class="collapse my-3" id="collapseExample">
                  <div class="card card-body">
                      <form method="post">
                          <h5 class="my-3">Please, to continue insert your current password:</h5>
                          <input class="form-control my-3" type="password" placeholder="Current Password" name="delPass">
                          <button type="submit" class="btn btn-danger mt-2" name="delAccount">Delete account!</button>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    </main>



    <script src="../static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script>
        var slider = document.getElementById("customRange3");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function() {
            if(this.value==7)
                output.innerHTML = '7+'
            else
                output.innerHTML = this.value;
        }

    </script>
    <script>
        document.getElementById('profile').classList.add('active');
    </script>
{% endblock %}