<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="text-center">
    <main class="form-signin">
        <form method="post">
            <img class="mb-4" src="../static/images/Logo.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please register</h1>
            <div class="form-floating">
                <input type="name" class="form-control" id="floatingName" placeholder="Name" name="nome">
                <label for="floatingName">Name</label>
            </div>
            <div class="form-floating">
                <input type="surname" class="form-control" id="floatingSurname" placeholder="Surname" name="surname">
                <label for="floatingSurname">Surname</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021–2021</p>
        </form>
    </main>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>

</body>
</html>