{% extends 'base.html' %}

{% block title %}Weight - Nutraspect{% endblock %}

{% block head %}

    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {packages: ['corechart']});
      google.charts.setOnLoadCallback(drawChart);
    </script>

{% endblock %}

{% block main %}
    <main class="container my-auto py-4 under-nav">
        <div class="row">
            <div class="col-sm-12 col-md-5 text-center mx-auto bg-light bg-gradient my-4 pb-3 px-2">
                <h3 class="mt-3">Weight update</h3>
                <form method="post">
                    <h5 class="my-3 fw-normal">Add your current Weight</h5>
                    <p class="lead">Updating your weight frequently helps you keep track of your progress and to better understand your goal</p>
                    <div class="input-group">
                        <input class="my-3 form-control" id="floatingInput" placeholder="Weight" name="weight">
                        <button class="my-3 btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 col-md-5 text-center mx-auto bg-light bg-gradient my-4 pb-3">
                <h3 class="mt-3">Current Weight</h3>
                <h4>The last time you updated you weight, you weighed</h4>
                <h4 id="currentWeight" name="currentWeight" style="display: inline-block"> {{ lastWeight }} </h4><h4 style="display: inline-block" class="text-reset lead"> Kg</h4>
                <h5></h5>
                <h5 style="display: inline-block" class="lead">Your goal weight is</h5>
                <h5 id="idealWeight" name="idealWeight" style="display: inline-block">{{ gWeight }}</h5>
                <h5 style="display: inline-block" class="lead"> Kg.</h5>

                                    {% block weight  %}
                    {% if  lossWeight>=0 %}
                        <h5 style="display: inline-block" class="lead">You lost </h5> <h5 style="display:inline-block" id="lostKg" name="lostKg">  {{ lossWeight }} </h5>
                        {% else %}
                        <h5 style="display: inline-block" class="lead">You gained </h5> <h5 style="display:inline-block" id="lostKg" name="lostKg"> {{ -lossWeight }} </h5>
                    {% endif %}
                    {% endblock weight  %}
                <h5 style="display: inline-block" class="lead">Kg. Keep going!!</h5>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="myPieChart" style="height: 400px"></div>
                </div>
            </div>
        </div>
    </main>


    <script src="../static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Define the chart to be drawn.
            var data = new google.visualization.DataTable();
            var data = google.visualization.arrayToDataTable({{weightArray|safe}});

            var options = {
                explorer: {
                    actions: ['dragToZoom', 'rightClickToReset'],
                    axis: 'horizontal',
                    keepInBounds: false,
                    maxZoomIn: 4.0,
                    maxZoomOut:2
                },
                title: 'Weight chart',
                chartArea: {'right':0,'width': '90%', 'height': '80%'},
                legend: { position: 'bottom' }

            };

          // Instantiate and draw the chart.
          var chart = new google.visualization.LineChart(document.getElementById('myPieChart'));
          chart.draw(data, options);
        }
    </script>
    <script>
        document.getElementById('weight').classList.add('active');
    </script>
{% endblock %}