<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Login</title>
</head>
<body class="text-center" onload='showDiv("{{ divToShow }}")'>

    <main class="form-signin">

      <form method="post">
        <img class="mb-4" src="{{ url_for('static', filename='images/Logo.png') }}" alt="" width="72" height="57">

          <div class="alert alert-danger d-flex align-items-center d-none" role="alert" id="LoginError">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              <div>
                  You should check again your credentials
              </div>
          </div>
          <div class="alert alert-success d-flex align-items-center d-none" role="alert" id="LoginSuccess">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
              <div>
                  Your login was successfull. You're being redirected
              </div>
            </div>

          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>


          <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
              <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
              <label for="floatingPassword">Password</label>
          </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" name="box"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-nutraspect" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021–2021</p>
      </form>
    </main>

    <script src=" {{ url_for('static', filename='js/main.js') }} "></script>
    <script>
        function showDiv(divName) {
            document.getElementById(divName).classList.remove('d-none');
            if (divName=='LoginSuccess') {
                setTimeout(cambiasito, 1500)
            }
        }
        function cambiasito() {
            window.location.replace('/home')
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src=" {{ url_for('static', filename='js/bootstrap.js') }} "></script>
</body>
</html>