{% extends 'base.html' %}

{% block title %}Water Selector - Nutraspect{% endblock %}

{% block load %} onload='showDiv("{{ divToShow }}")'{% endblock %}

{% block main %}

    <main class="container my-auto py-4 under-nav">
        <div class="row my-2">
            <h2 class="py-3">Water Consumption</h2>
            <div class="alert alert-success d-flex align-items-center mx-3 d-none" role="alert" id="waterSuccess">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
              <div>
                  Water added with success
              </div>
            </div>
            <div class="col-sm-12 col-md-5 mx-auto">
                <h4 style="display: inline">Today's Water Total</h4>
                <h4 style="display: inline" class="text-decoration-underline ps-5">{{ todayml }} ml</h4>
                <p class="my-3">Aim to drink at least <span id="totalLiters" name="totalLiters">{{ racml }}</span> milliliters of water today. You can quick add common sizes or enter a custom amount</p>
                <h4>Quick add</h4>
                <div class="mb-4">
                    <button id="btn250" class="btn btn-outline-primary">+250 ml.</button>
                    <button id="btn500" class="btn btn-outline-primary">+500 ml.</button>
                    <button id="btn1000" class="btn btn-outline-primary">+1000 ml.</button>
                </div>
                <h4>Add custom</h4>
                <form method="POST">
                        <div class="input-group mb-3" style="width: 50%">
                            <input type="text" class="form-control" aria-label="Custom Water" aria-describedby="basic-addon2" id="waterInput" name="mlwater">
                            <span class="input-group-text" id="basic-addon2">ml</span>
                        </div>
                        <button type="submit" class="btn btn-nutraspect">Add</button>
                        <button class="btn btn-danger text-decoration-underline mx-5" name="reset">Reset</button>
                </form>

            </div>
            <div class="col-sm-12 col-md-5 text-center mx-auto bg-light bg-gradient my-2">
                <div>

                </div>
                <div class="glass">
                    <div class="water"><p id="litersPer" name="litersPer">wPer%</p></div>
                </div>
            </div>
        </div>
    </main>



    <script src="../static/js/main.js"></script>
    <script>
        wPer=Math.min((parseInt({{todayml}})*100)/parseInt({{racml}}),100);
        wPer=parseInt(wPer)
        //wPer=toString(wPer)
        var el=document.getElementById("waterInput");
        var b250=document.getElementById("btn250");
        var b500=document.getElementById("btn500");
        var b1000=document.getElementById("btn1000");
        var partialWater=0;

        $(function(){
            $('.water').animate({
                height: wPer+'%'
            }, 1000)
            document.getElementById("litersPer").innerText=wPer+'%';
        })

        b250.onclick=function() {insertInput(250)}
        b500.onclick=function() {insertInput(500)}
        b1000.onclick=function() {insertInput(1000)}

        function insertInput(water){
            partialWater+=water;
            el.value=partialWater;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>

{% endblock %}